.profileImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-40%, -50%);
}
.nickname {
  position: absolute;
  top: 50%;
  transform: translate(10%, -50%);
}
.userBox {
  height: 100px;
  position: relative;
  width: 350px;
  /*top: 150px;*/
  background-color: #f5f5f5;
  border: 1px solid #e7e7e7;
  text-align: center;
}

.logoutBtn {
  width: 70px;
  position: absolute;
  top: 50%;
  transform: translate(-70%, -50%);
}

.userBoxChild {
  position: absolute;
  top: 50%;
}
